/* Estilos gerais */
body {
    background-color: #fefefe;
    font-family: Arial, sans-serif;
    color: #343a40;
}

.navbar-custom {
    background: rgba(49, 69, 89, 0.9);
    position: relative;
    padding: 15px 0;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Efeito da borda inferior*/
.navbar-custom::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #415a77, #778da9, #e0e1dd);
    box-shadow: 0 0 10px 5px rgba(219, 83, 117, 0.3);
    animation: pulsing-border 4s ease-in-out infinite;
}

@keyframes pulsing-border {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

/* Texto da barra de navegação */
.navbar-brand {
    color: #050404 !important;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 0.3s ease;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: none;
}

/* Container principal */
.container {
    max-width: 530px;
    margin-top: 15px;
    padding: 20px;
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}

/* Estilos para o formulário */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

/* Campo de entrada de data */
.input-date {
    border: 3px solid #749ca4;
    border-radius: 8px;
    padding: 10px;
    transition: border-color 0.3s ease;
}

.input-date::placeholder {
    color: #616161bc;
    font-style: italic;
}

.input-date:focus {
    border-color: #74a0b0;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}

/* Botão de envio */
.btn-submit {
    background-color: #415a77;
    border: none;
    color: #ffffff;
    font-weight: bold;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-submit:hover {
    background-color: #778da9;
    transform: translateY(-2px);
}

/* Resultados */
.text-center h1 {
    color: #729EA1;
    font-weight: bold;
}

.text-center p {
    font-size: 1.1em;
    color: #343a40;
}

/* Botão de voltar */
.btn-secondary {
    background-color: #415a77;
    border-color: #415a77;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: #778da9;
    border-color: #778da9;
}

.result-border {
    width: 490px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
    background: linear-gradient(270deg, #1b263b, #415a77, #778da9, #e0e1dd);
    background-size: 400% 400%;
    animation: borderAnimation 6s linear infinite;
}

/* Animação da borda */
@keyframes borderAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* Container de resultados */
.result-container {
    width: 490px;
    height: 400px;
    background-size: 95%;
    background-position:center 10%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.result-header h1 {
    color: #FFEB3B;
    font-size: 2em;
    margin: 0;
}

.result-description p {
    color: #FFEB3B;
    font-size: 1.1em;
    margin: 0;
}




/* Fundo da página com partículas */
.particles-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background: linear-gradient(180deg, #0d1b2a, #1b263b, #415a77, #778da9, #e0e1dd);
    background-size: 200% 200%;
    animation: color-shift 15s ease infinite;
}

@keyframes color-shift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
